/* your styles go here */

.features {
  text-align: left;
  margin-left: 22%;
  width: 75%;
}

.headshot {
  -webkit-box-shadow: -1px 1px 50px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: -1px 1px 50px 1px rgba(0,0,0,0.4);
  box-shadow: -1px 1px 50px 1px rgba(0,0,0,0.4);
  border-radius: 50%;
}

.social-links {
  justify-content: center;
  display: flex;
}

.social-images {
  margin: 10px 40px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
